<!DOCTYPE html>
<html lang="ms">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Kamus Rintas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>⚙️ Admin Kamus Rintas</h1>

    <p class="subtitle">
        Tambah perkataan baru ke dalam kamus Rintas
    </p>

    {% if mesej %}
    <div class="hasil">
        {{ mesej }}
    </div>
    {% endif %}

    <form method="POST">

        <label><b>Perkataan</b></label><br>
        <input type="text" name="perkataan" placeholder="Contoh: diterjemahkan" required>
        <br><br>

        <label><b>Rintas</b></label><br>
        <input type="text" name="rintas" placeholder="Contoh: dtr" required>
        <br><br>

        <button type="submit">➕ Tambah Perkataan</button>

    </form>

    <br>

    <a href="/">⬅️ Kembali ke laman utama</a>

</div>

</body>
</html>